<!-- Navbar-->
<nav class=" nav navbar navbar-expand-sm  border pe-4">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-content"
        aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Brand -->
    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="nav-content">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link btn btn-outline-primary" href="/logout">Logout</a>
            </li>

        </ul>
    </div>
</nav>